
body {
  font-size: 1em;
  color: #999;
  margin: 0.3125em;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 1.5em; 
}

h5 {
  font-size: 1.5em;
}

ul {
  font-size: 1em;
}

hr {
  border-top: 0.0625em #ddd;
}

th {
  background-color: #007bff;
  color: #fff;
  padding: 0.3125em 0.625em;
}

td {
  border: solid 0.025em #aaa;
  padding: 0.3125em 0.625em;
  text-align: right;
}

#header  {
  height: 4em;
  background-color: #007bff;
  margin-bottom: 2em;
}

#header-wrapper {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  display: inline-block;
  padding: 0 1em;
}

#header-logo a{
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

#header-menu {
  display: inline-block;
  float: right;
  padding: 0 1em;
}

#header-menu a {
  color: #fff;
  text-align: left;
}

#login-page-header {
  width: 30em;
  border-bottom: 0.0625em inset #ddd;
  display: inline-block;
  margin-bottom: 1em;
  background-color: #007bff;
  color: #fff;
}

#login-page-header p {
  margin-top: 1em;
}

input {
  display: inline-block;
  margin-bottom: 1em;
}

.login-botton {
  margin-top: 2em;
  margin-bottom: 1em;
}
 
.menutitle {
  font-size: 0.875em;
  font-weight: bold;
  margin: 0;
}

.footer {
  text-align: right;
  font-size: 0.83em;
  margin: 0.625em;
  border-bottom: solid 0.0625 #ccc;
  color: #ccc;
}

.pagination {
  font-size: 0.83em;
  align: center;
}

.pagination li {
  display: inline-block;
}

#login-form {
  text-align: center;
}

#login-page {
  border: 0.0625em inset #ddd;
  width: 30em;
  height: 23em;
  display: inline-block;
}

#login-error{
  color: red;
  margin-bottom: 1em;
}

#login-email {
  margin-bottom: 1em;
}

#login-register {
  display: block;
  margin-bottom: 1em; 
}

#food-index {
  margin-bottom: 1em;
}

.user-name p {
  text-align: left;
  color: #ddd;
}

#btn-add {
  margin-top: 1em;
  margin-bottom: 1em;
}

.justify-between {
  margin-top: 1em;
}

.backpage {
  text-align: left;
}

.error-message {
  color: red;
}

.error-alert {
  font-size: 1.5em;
  font-weight: bold;
}

.delete-message {
  color: red; 
}
